body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.topNavBar {
  display: flex;
  justify-content: space-between;
}

.site_title {
  padding-left: .5em;
}

.nav_bar_links {
  padding-right: 1em;
  align-content: center;
}

.nav_bar_links > a {
  margin: .5em;
}

.book_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

.book_card {
  display: flex;
  margin: 1em;
  width: 45em;
}
.book_card:hover {
  cursor:pointer
}

.book_card > img {
  max-height: 20em;
}

.book_card_info {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}