body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.topNavBar {
  display: flex;
  justify-content: space-between;
}

.site_title {
  padding-left: .5em;
}

.nav_bar_links {
  padding-right: 1em;
  align-content: center;
}

.nav_bar_links > a {
  margin: .5em;
}